html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4a4a4a;
}

a {
  text-decoration: none;
  color:  #4a4a4a;
}

p {
  line-height: 1.4;
}


h2 {
  font-size: 28px;
}
/*----Header-----*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 64px;
}

.nav {
  display: flex;
}

.nav li {
  list-style-type: none;
  margin-left: 16px;
}

.logo {
  display: flex;
}

.logo h2 {
  font-size: 32px;
  font-weight: 300;
  color: #d8d8d8;
}

.logo strong {
  font-weight: bold;
  color: #4a4a4a;
}

.logo img {
  width: 40px;
}

/*----Banner----*/

.banner {
  display: flex;
  padding: 32px 24px;
  background-color: #d8d8d8;
  align-items: center;
}

.banner .side-content {
  margin-left: 50px;
  width: 500px;
}

.banner .side-content h1 {
  font-size: 52px;
}

.banner .side-content p {
  font-weight: 600;
  font-size: 20px;
  width: 300px;
}

button {
  width: 410px;
  padding: 15px 0;
  font-size: 20px;
  color: white;
  background-color: #4a4a4a;
  border: none;
}

/*----Information----*/
.inform {
  display: flex;
  padding: 32px 24px;
}

.main-inform {
  width: 60%;
}

.inform-content {
  width: 90%;
  margin-top: 32px;
}

.inform-content h2{
  font-size: 40px;
}

.author {
  color: #000;
}

/* ----Side content information ----- */

.inform .side-content {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.side-item {
  display: flex;
  align-items: center;
  padding: 0 16px 16px 16px;
  background-color: white;
}

.side-item .content {
  margin-left: 16px;
}

.side-item .content a {
  color: #609de4;
}

/* ----Courses---- */

.courses {
  display: flex;
  flex-wrap: wrap;
  background-color: #d8d8d8;
  justify-content: center;
  padding: 32px 72px;
}

.course-headeer {
  width: 100%;
  text-align: center;
}

.course-headeer h2{
  font-size: 40px;
}

.course {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-right: 32px;
  margin-top: 32px;
  background-color: white;
}

.course img {
  width: 100%;
}

.course-content {
  padding: 16px 16px;
}

/* ----Thesis---- */

.thesis {
  display: flex;
  padding: 32px 24px;
}

.main-thesis {
  width: 60%;
  margin-right: 24px;
}

.main-thesis video{
  width: 100%;
}

.thesis-side-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  width: 40%;
}

.thesis-item {
  display: flex;
  align-items: center;
  padding: 0 16px 16px 16px;
  background-color: white;
}

.thesis-item .content {
    margin-left: 16px;
}

/* ---- Footer ---- */

footer {
  align-items: center;
  display: flex;
  height: 64px;
  border-top: 2px #4a4a4a solid;
  justify-content: space-between;
  padding: 0 24px;
}
